<div class="modal-header m-4 border-bottom-0">
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="modal.dismiss()"
  >
    <img src="assets/images/close.svg" />
  </button>
</div>
<div class="modal-body mx-5">
  <h4 class="color-primary text-center">Recommended</h4>
  <div class="tyros-reg fs-36 text-center">Spares & Extras</div>
  <app-recommended-product-carousel
    [displayCount]="3"
    [products]="accessories"
    [showAddToBooking]="false"
    [showCounter]="true"
    (isValid)="isValid($event)"
    (recommendedProductAdded)="recommendedProductAdded($event)"
  ></app-recommended-product-carousel>
  <div *ngIf="!valid" class="text-center my-2">
    <p class="color-primary mb-0">Checking for availability please wait...</p>
  </div>
  <div class="row my-3">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-2">
      <button
        class="btn btn-outline-secondary btn-lg btn-block grey py-3"
        (click)="modal.dismiss()"
      >
        NO THANKS
      </button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-2">
      <button
        class="btn btn-primary btn-lg btn-block py-3"
        [disabled]="!valid"
        (click)="nextClick()"
      >
        CONTINUE
      </button>
    </div>
  </div>
</div>
