.rent-button {
  display: none;
}

.col-6 {
  display: none;
}

.card-shadow {
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
  rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
}

@media (max-width: 575px) {
  .mobile {
    display: flex;
  }

  .rent-button {
    display: contents;
  }

  .col-6 {
    display: flex;
    align-items: flex-end;
  }

  .left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}