<div class="modal-header m-4 border-bottom-0 d-flex justify-content-between">
  <button
    type="button"
    class="btn btn-transparent btn-no-border"
    aria-label="Close"
    (click)="modal.dismiss('back')"
  >
    <img src="assets/images/mobile-back.svg" />
  </button>

  <button
    type="button"
    class="close  btn-no-border"
    aria-label="Close"
    (click)="modal.dismiss()"
  >
    <img src="assets/images/close.svg" />
  </button>
</div>
<div class="modal-body px-5">
  <div class="form-group">
    <div class="form-group">
      <app-floating-input
        label="Yacht Name"
        placeholder="Optional"
        [(value)]="yachtName"
      ></app-floating-input>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-6">
        <button
          type="button"
          class="btn btn-transparent btn-lg btn-block py-3"
          (click)="modal.close()"
        >
          Skip
        </button>
      </div>

      <div class="col-6">
        <button
          [disabled]="yachtName.length === 0"
          type="button"
          class="btn btn-primary btn-lg btn-block py-3"
          (click)="modal.close(yachtName)"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
