<hr />

<div class="d-flex justify-content-between">
  <div class="fs-18 avenir-light">Product</div>
  <div class="d-flex w-50">
    <div class="fs-18 w-33 avenir-light center">QTY</div>
    <div class="fs-18 w-33 avenir-light center">Availability</div>
    <div class="fs-18 w-33 avenir-light center">Price</div>
  </div>
</div>

<hr />

<div class="d-flex align-items-center justify-content-between py-3">
  <div class="pr-4">
    <img src="assets/images/close.svg">
  </div>
  <div>
    <img class="img" src="assets/images/pic1.png">
  </div>
  <div class="d-flex column">
    <div class="fs-24 tyros-reg">SeaDoo GTR X 230</div>
    <div class="fs-18 avenir-light grey">255 € / Day</div>
  </div>
  <app-counter></app-counter>
  <div>
    <img class="available" src="assets/images/available.jpg">
  </div>
  <div class="fs-24 tyros-reg">€3,060.00</div>
</div>

<hr />

<div class="d-flex align-items-center justify-content-between py-3">
  <div class="pr-4">
    <img src="assets/images/close.svg">
  </div>
  <div>
    <img class="img" src="assets/images/pic1.png">
  </div>
  <div class="d-flex column">
    <div class="fs-24 tyros-reg">SeaDoo GTR X 230</div>
    <div class="fs-18 avenir-light grey">255 € / Day</div>
  </div>
  <app-counter></app-counter>
  <div>
    <img class="available" src="assets/images/available.jpg">
  </div>
  <div class="fs-24 tyros-reg">€3,060.00</div>
</div>


