<div class="container">

  <div class="text-center mt-5 py-5">
    <div class="fs-36 tyros-reg-600 fab">Thank you</div>
    <div class="fs-64 tyros-reg-600 lh-68">Your order has been <br> Completed</div>
    <div class="fs-24 avenir-light pt-3">We will send an order confirmation and shipping updates to the following e-mail:</div>
    <div class="fs-24 pt-2 tyros-reg fab">{{booking?.email}}</div>
  </div>

  <!-- <div class="mt-5 py-5 card-detail text-center">
    <div class="fs-24 tyros-reg fab">Speed up your Checkout</div>
    <div class="fs-36 tyros-reg pb-5">Sign Up</div>

    <div class="row center">
      <div class="col-12 col-lg-4">
        <div class="fs-18 tyros-reg-700">Create an Account</div>

        <div class="float-container my-3">
          <input
            class="form-control "
            type="text"
            placeholder="Name"
          />
        </div>

        <div class="float-container my-3">
          <input
            class="form-control "
            type="text"
            placeholder="Email"
          />
        </div>

        <div class="float-container my-3 d-flex">
          <input
            class="form-control "
            type="text"
            placeholder="Password"
          />
          <div class="input-group-append">
            <img class="pr-2" src="assets/images/eye-crossed.svg">
          </div>
        </div>

        <div class="float-container my-3 d-flex">
          <input
            class="form-control "
            type="text"
            placeholder="Repeat Password"
          />
          <div class="input-group-append">
            <img class="pr-2" src="assets/images/eye-crossed.svg">
          </div>
        </div>

        <button class="btn btn-primary btn-lg btn-block py-3 mt-3">
          SIGN UP
        </button>

      </div>
      
      <div class="verticle px-4">
        <div class="verticle-line"></div>
        <div class="fs-14 avenir-light">or</div>
        <div class="verticle-line"></div>
      </div>

      <div class="col-12 col-lg-4 d-flex align-items-center flex-column">
        <div class="fs-18 tyros-reg-700">Log in with</div>
        <div class="d-flex">
          <div class="button-size">
            <img class="img" src="assets/images/google.svg">
          </div>
          <div class="button-size">
            <img class="img" src="assets/images/facebookbtn.svg">
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <app-order-faq></app-order-faq> -->
  <!-- <span class="white py-5">some space</span> -->
  <app-we-specialize></app-we-specialize>
</div>
