.form-control {
  min-height: 50px;
  border: 1px solid #363636;
  box-sizing: border-box;
  border-radius: 2px;
}

.btn-font{
  font-size: 1rem !important;
  color: #495057 !important;
}

// .select-container button {
//   // border: none;
//   outline: 0;
//   -moz-appearance: none;
//   -webkit-appearance: none;
//   /* <P Style 3> Avenir LT Std 45 Book 16 */
//   font-family: "AvenirLTStd-Book";
//   font-style: normal;
//   font-weight: normal;
//   font-size: 18px;
//   line-height: 22px;
//   color: #363636;
// }

.country-dropdown-menu {
  // width: 150%;
  max-height: 280px;
  overflow-y: auto;
  min-width: 100% !important;
}

.water-toy-country-asker {
  font-family: "TyrosPro-Bold";
  font-size: 16px;
  position: relative;
  padding-bottom: 0;
  padding-top: 16px;
  text-align: left;
  padding-left: 29.5px;
  padding-right: 29.5px;
}

.drop-down-item-1 {
  padding-top: 8px;
  // padding-bottom: 9px;
  // font-size: 20px;
  // position: static;
  // padding-left: 52px;
  // font-family: "AvenirLTStd-Book";
}

.country-image {
  padding-right: 20px;
}

.country-select {
  border: none !important;
  border-bottom: none !important;
  margin-top:2px!important;
  padding-top: 10px;
}

@media only screen and (max-width: 768px) {
  .country-dropdown-menu {
    width: 100%;
  }
}
