<div class="text-center my-5">
  <h2 class="tyros-reg fs-36 mt-5">We Specialise</h2>
  <p class="m-0 p-0 fs-26 avenir-light">Our water toys Rental Service is optimised for</p>
  <p class="m-0 p-0 fs-26 avenir-light">Yacht Captains, Charter Brokers & Yacht Managers</p>
</div>

<div class="background mt-5">
  <h3 class="title fab fs-36 tyros-reg">Need Help?</h3>
  <p class="subtitle white fs-26 avenir-light">
    Reach out for personalised quotations or special arrangements.
  </p>

  <div class="d-flex align-items-center mb-3">
    <div>
      <img class="pr-3" src="assets/images/email-icon.svg">
    </div>
    <div>
      <p class="d-flex white m-0 p-0 fs-14 tyros-reg">EMAIL</p>
      <a href="mailto:booking@oceanpremium.com" class="fab m-0 p-0 fs-14 tyros-reg">BOOKING@OCEANPREMIUM.COM</a>
    </div>
  </div>
  
  <div class="d-flex align-items-center">
    <div>
      <img class="pr-3" src="assets/images/phone-icon.svg">
    </div>
    <div class="pl-1"> 
      <p class="d-flex white m-0 p-0 fs-14 tyros-reg">PHONE</p>
      <a href="tel:+33781151254" class="fab m-0 p-0 fs-14 tyros-reg">+33 781 15 12 54</a>
    </div>
  </div>
</div>
