h2 {
  /* <Style 2> Tyros Pro Medium 36 */
  font-family: "TyrosPro-Medium";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #19303b;
}

.faq-title {
  font-family: "TyrosPro-Medium";
  font-weight: 600;
  font-size: 20px;
  font-style: normal;

  margin-top: 10px;
  margin-bottom: 2px;
}