h2 {
  /* <Style 2> Tyros Pro Medium 36 */
  font-family: "TyrosPro-Medium";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #19303b;
}

h4 {
  /* <Style 4> Tyros Pro SemiBold 24 */
  font-family: "TyrosPro-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

h5 {
  /* <Style 5> Tyros Pro Medium 20 */
  font-family: "TyrosPro-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  color: #c4c4c4;
}

.p-style-1 {
  /* <P-Style 1> Avenir LT Std 45 Book 26 */
  font-family: "AvenirLTStd-Book";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 34px;
  letter-spacing: 0.117321px;
  color: #363636;
}

.p-style-2 {
  /* <Mobile P Style 2> Avenir LT Std 35 Light 18 */
  font-family: "AvenirLTStd-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.117321px;
  color: #000000;
}

.p-style-3 {
  /* <P Style 3> Avenir LT Std 45 Light 18 */
  font-family: "AvenirLTStd-Light";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #363636;
}

ul li {
  margin-top: 1rem;
  list-style-type: "-";
  padding-inline-start: 1ch;
}

li::marker {
  color: #fab900;
  font-size: 30px;
}

.btn.btn-shadow {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.popular-port {
  border: 1px solid #f8f8f8;
  border-radius: 1px;
}