h2 {
  /* <Style 2> Tyros Pro Medium 36 */
  font-family: "TyrosPro-Medium";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #19303b;
}

h4 {
  /* <Style 4> Tyros Pro SemiBold 24 */
  font-family: "TyrosPro-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #fab900;
}

h6 {
  /* <Style 6> Tyros Pro Bold 16 */
  font-family: "TyrosPro-Medium";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

input {
  height: 48px;
  max-height: 48px;
}

.form-control {
  min-height: 50px;
  border: 1px solid #363636;
  box-sizing: border-box;
  border-radius: 2px;
}

.btn.btn-link {
  color: #fab900;
  padding: 0;
}

.red {
  color: red;
}
